<h1 class="text-center">Bem-vindo</h1><br>
  <p>O Appmovel foi desenvolvido com muitos intuitos, sendo o principal demonstrar minhas habilidades com NodeJS e de aprender algo novo, como Angular!</p>
  <p>A aplicação é servida pela api em NodeJS no endereço 127.0.0.1:3000/api/v1, controlando um vetor de veículos pré-cadastrados em armazenamento volátil.</p>
  <p>Aqui você pode:</p>
  <ul>
    <li>Listar os veículos;</li>
    <li>Consultar um veículo pela sua placa ou código FIPE;</li>
    <li>Adicionar um veículo;</li>
    <li>Editar um veículo;</li>
    <li>Excluir um veículo.</li>
  </ul>
  <p>O layout é responsivo e está implementada uma tela de "não encontrado" caso tente acessar uma URI que ainda não existe.</p>
  <h4>Aproveite! ☺</h4><br>
<footer class="affix fixed-bottom footer bg-white text-center">
  <div class="card">
    <div class="card-body">
      <h4 class="card-text">Appmovel<img class="d-inline" src="assets/img/logo.jpeg" width="45" alt="" loading="lazy"></h4>
      <footer class="font-italic float-right">Desenvolvido por Thiago Caires, 2020</footer>
    </div>
  </div>
</footer>
